@keyframes welcomeFadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes welcomeFadeOut {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes btnPsPress {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  5% {
    transform: scale(0.8);
    opacity: 0.4;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulsingGlow {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  15% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes movingGlow {
  0% {
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}


@keyframes headerFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appsGetIn {
  0% {
    transform: translateX(100vw);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bgFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bgFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bgFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textCardFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textCardFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-welcome-fade-in {
  animation: welcomeFadeIn 0.5s ease-in-out forwards;
  filter: blur(10px);
  opacity: 0;
}

.animate-btn-ps-press {
  animation: btnPsPress 4s 0.5s ease-out infinite;
}

.animate-glowing {
  animation: pulsingGlow 4s ease-out infinite;
  opacity: 0;
}

.animate-moving-glow-ps-btn {
  animation: movingGlow 4s ease-out infinite;
}

.animate-moving-glow-card-header-btn {
  animation: movingGlow 8s ease-out infinite;
}

.animate-welcome-fade-out {
  animation: welcomeFadeOut 0.4s ease-in-out forwards;
  opacity: 1;
}

.animate-header-fade-in {
  animation: headerFadeIn 0.5s 1.5s ease-out forwards;
  opacity: 0;
}

.animate-apps-get-in {
  animation: appsGetIn 0.8s ease-out forwards;
  transform: translateX(100%);
}

.animate-bg-fade-in-left {
  animation: bgFadeInLeft 0.2s ease-in-out forwards;
  opacity: 0;
}

.animate-bg-fade-in-right {
  animation: bgFadeInRight 0.2s ease-in-out forwards;
  opacity: 0;
}

.animate-bg-fade-in {
  animation: bgFadeIn 0.2s ease-in-out forwards;
  opacity: 0;
}

.animate-text-card-fade-in {
  animation: textCardFadeIn 0.5s 0.2s ease-out forwards;
  opacity: 0;
}

.animate-text-card-fade-out {
  animation: textCardFadeOut 0.2s ease-in-out forwards;
  opacity: 1;
}